export("categories<-")
export(addLabels)
export(as.categorical)
export(categorical)
export(categories)
export(is.categorical)
export(ncategories)
export(relabel)
S3method(labels,categorical)
S3method(print,categorical)
